<header style="position: fixed; z-index: 1; top: 0; width: 100%; background-color: #FCC21B; " class="d-flex flex-wrap align-items-center justify-content-start justify-content-md-between py-3 mb-4 border-bottom">

    <ul class="nav ">
      <li><a href="/dashboard" class="nav-link px-2 link-secondary">Dashboard</a></li>
      <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>

    </ul>
    <div class="col-md-4">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">

    </div>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-light me-5" style="border-radius: 20px;"> <a href="/" >Log-out</a> </button>

    </div>
  </header>