<header style="position: fixed; z-index: 1; top: 0;width: 620px; height: 77px; background-color: #FCC21B; margin-left: 40%;  border-radius: 15px; margin-top: 1%;" class="align-items-center justify-content-md-center justify-content-md-evenly  py-3  border-bottom">
    <ul class="nav  ">
      <li><a href="/about" class="nav-link px-5 link-dark"> <span style="color:white;" >About</span></a></li>
      <li><a href="/auth/google" class="nav-link px-5 link-dark"><span style="color:white;" >Sign Up</span></a></li>
      <li><a href="/loginform" class="nav-link px-5 link-dark"><span style="color:white;" >Login-Form</span></a></li>
    </ul>
    
</header>


<div class="container-fluid">
<div class="row">
    <div class="col-8">
        <div class="container">
            <!-- <div class="row align-items-start  py-5 "> -->
                <div>
                    <h1 class="display-4 fw-bold px-5 py-4 "> <span style="color:white;" >Your go-to platform for hassle-free note-taking</span> </h1>
                    <div class="d-grid  d-md-flex">
                        <a href="/about" class="btn btn-primary btn-dark btn-lg px-5 me-md-2" style="margin-left: 10%;">Learn More</a>
                    </div>
                </div>
        </div>
    </div>

    <div class="col-4"  >
        <div class="container0">
        <img src="/img/img1.png"  height="150px" width="150px" alt="">
        <h1 class="fw-bold">NOTES<br>BUDDY</h1>

        </div>
    </div>
</div>
 </div>



 <div class="container-fluid">
    <div class="row">      
            <div class="col-5" >
                <div class="container2">
                <img src="/img/img2.png"  height="330px" width="460px" alt="">
                </div>
            </div>
            <div class="col-7">
            <div class="container1">
                    <div>
                        <h1 class="display-4 fw-bold px-5 py-4 "> <span style="color:white;" >Share your notes effortlessly with Notes Buddy when you</span> </h1>
                        <div class="d-grid  d-md-flex">
                            <a href="/auth/google" class="btn btn-primary btn-dark btn-lg px-5 me-md-4" style="margin-left: 10%;">Take Notes</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
     </div>



     <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="container3">
                        <div>
                            <h1 class="display-4 fw-bold px-5 py-4 "> <span style="color:white;" >Organize your notes in folders and categorize them</span> </h1>
                            <div class="d-grid  d-md-flex">
                                <a href="/about" class="btn btn-primary btn-dark btn-lg px-5 me-md-2" style="margin-left: 10%;">Explore It</a>
                            </div>
                        </div>
                </div>
            </div>
        
            <div class="col-5">
                <div class="container4">
                <img src="/img/img3.png"  height="332px" width="460px" alt="">
        
                </div>
            </div>
        </div>
         </div>



     